@model College_Demo.Models.User
@{
    ViewBag.Title = "edituser";
}

<div class="row">
    <div class="col-sm-6">
        <h4 class="text-center">Edit User Information</h4>
        <form action="@Url.Action("updateuser","user")" method="post">
            <hr />
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>Full Name</label><label class="pull-right">:</label>
                </div>
                <div class="col-sm-8">
                    <input type="text" name="full_name" class="form-control" placeholder="Enter Full Name" value="@Model.full_name" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>Mobile Number</label><label class="pull-right">:</label>
                </div>
                <div class="col-sm-8">
                    <input type="number" name="mno" class="form-control" placeholder="Enter Mobile Number" value="@Model.mno" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>Email Id</label><label class="pull-right">:</label>
                </div>
                <div class="col-sm-8">
                    <input type="email" name="email" class="form-control" placeholder="Enter Email Id" value="@Model.email" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                    <label>Address</label><label class="pull-right">:</label>
                </div>
                <div class="col-sm-8">
                    <textarea name="addr" class="form-control" placeholder="Enter Address" required>@Model.addr</textarea>
                </div>
            </div>
            <input type="hidden" value="@Model.role" name="role" />
            <input type="hidden" value="@Model.password" name="password" />
            <input type="hidden" value="@Model.id" name="id" />
            <hr />
            <div class="form-group row">
                <div class="col-sm-2">
                    <input type="submit" value="Update" class="btn btn-primary btn-block" />
                </div>
                <div class="col-sm-2">
                    <a href="@Url.Action("managestudents","user")" class="btn btn-primary btn-block">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

